<ion-view class="helpModalView">
  <ion-content  ng-click="closeModal(1)">
    <div class="help_screen">
      <div class="app_title_img_div">
        <img src="img/AMA_UI/app_title.png">
      </div>

      <div class="help_content">
        <div class="first_phase">
          <p>Geben Sie die Zutaten an, die Sie zu</p>
          <p>Hause haben und entecken Sie</p>
          <p>tolle Rezeptideen.<p>
        </div>

        <div class="second_phase">
          <p>Zutatenicon auswählen oder</p>
          <p>in der Suche eingeben.</p>
        </div>
      </div>

      <div class="help_img_div">
        <img src="img/AMA_UI/splash_img.png">
      </div>
    </div>
  </ion-content>
</ion-view>
